<footer>
    <div class="container-footer">
        <div class="footer-conteudo">
            <div class="informacoesFooter">
                <div class="site-map">
                    <h4>Mapa do Site</h4>
                    <ul>
                        <li>
                            <a routerLink="">Quem Somos</a>
                        </li>
                        <li>
                            <a routerLink="">Promoções</a>
                        </li>
                        <li>
                            <a routerLink="">Game Mania Club</a>
                        </li>
                        <li>
                            <a routerLink="">Loja Online</a>
                        </li>
                    </ul>
                </div>
                <div class="links-uteis">
                    <h4>Precisa de Suporte?</h4>
                    <ul>
                        <li>
                            <a routerLink="">Chat Online</a>
                        </li>
                        <li>
                            <a routerLink="">Fale Conosco</a>
                        <li>
                            <a routerLink="">E-mail</a>
                        <li>
                            <a routerLink="">Assistência Online</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pagamentos">
                <h4> Formas de Pagamento</h4>
                <div class="formas-pagar ">
                    <img src="assets/img/americanex Pequeno.png">
                    <img src="assets/img/paypall.png">
                    <img src="assets/img/visa.png">
                    <img src="assets/img/masterCard.png">
                    <img src="assets/img/boleto.png">
                </div>
            </div>
            <div class="redes-socias">
                <h4> Redes socias </h4>
                <div class="redes">
                    <a routerLink="#"><img src="assets/img/facebook Pequeno.png" alt="Facebook"></a>
                    <a routerLink="#"><img src="assets/img/insta Pequeno.png" alt="Instagram"></a>
                    <a routerLink="#"><img src="assets/img/youtube Pequeno.png" alt="YouTube"></a>
                </div>
            </div>
            <div class="cadastro-email">
                <a routerLink="home"><img src="assets/img/logo.png" alt="logo"></a>
                <p>Cadastre-se abaixo para receber ofertas exclusivas!!</p>
                <form class="bar-cadastro" method="get" #userForm="ngForm">
                    <input id="campo-email" class="box-cadastro" type="email" placeholder="Digite o seu e-mail"
                        autocomplete required />
                    <button class="bt-cadastro" type="submit">Cadastre-se</button>

                </form>
            </div>
        </div>
    </div>
</footer>