<!--------- section jogos online ------------------>
<div class="jogos-online">
    <div class="jogos-inner">
        <h2>Jogos online mais jogados!!!</h2>
        <div id="jogos-online-list" class="jogos-itens">
            <div *ngFor="let jogo of listaJogos" class="item">

                <img [src]=jogo.imagem [alt]=jogo.imagem>
                <p><a [href]=jogo.routerLink>{{jogo.name}}</a>{{jogo.descricao}}</p>
            </div>


            <!-- <div class="item obj-1">

                <img src="./Img/PUBG-Battlegrounds-900x503 1.pnPUBG-Battlegrounds-900x503 1.pngg" alt="img PUBG">
                <p><a routerLink="https://na.battlegrounds.pubg.com">Battlegrounds(PUBG)</a> - é um jogo do gênero battle royale, uma mistura de
                    sobrevivência e exploração de territórios.</p>
            </div>
            <div class="item obj-2">

                <img src="./Img/minecraft.png" alt="Img cidade MineCraft">
                <p><a routerLink="https://www.minecraft.net/pt-pt">Minecraft</a> - A ideia básica desse jogo que conquista multidões é a construção
                    por blocos. Os competidores precisam recolher recursos para que possam sobreviver, criando
                    ambientes de maneira criativa.</p>
            </div>
            <div class="item obj-3">

                <img src="./Img/Fortinite.png" alt="img jogadorFortinite">
                <p><a routerLink="https://www.epicgames.com/fortnite/pt-BR/home">Fortinite</a> - Um dos jogos mais populares e celebrados em todo o mundo, Fortnite
                    foi lançado em 2017 e atraiu 125 milhões de jogadores somente no seu primeiro ano de
                    estreia.</p>
            </div>
            <div class="item obj-4">

                <img src="./Img/leagueOflegends.png" alt="img jogadorLOL">
                <p>Conhecido como LOL, o <a routerLink="">League of Legends</a> - é o favorito entre os gamers,
                    uma verdadeira febre no mundo dos jogos online! - O League of Legends conta com competições
                    internacionais enormes, reunindo fãs de todos os lugares do mundo.</p>
            </div> -->

        </div>
    </div>
</div>