/* configurações area jogos online*/

.jogos-online {
    width: 100%;
    background-color: black;
}

.jogos-inner {
    padding: 40px;
    color: aliceblue;
}

.jogos-inner h2 {
    font-size: 30px;
    background: linear-gradient(270deg, rgba(78, 89, 89) 40%, white);
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.jogos-itens {
    margin-top: 30px;

}

.item {
    display: flex;
    padding: 20px;
    position: relative;
    align-items: initial;
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 20px;
}

.item p {
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
}

.item a {
    text-decoration: underline;
    color: red;
}

.item img {
    width: 280px;
    height: 280px;

}

/* 
.obj-2 img,
.obj-3 img,
.obj-4 img {
    width: 500px;
    height: 300px
}

.obj-2,
.obj-4 {
    direction: rtl;
    margin-top: -50px;
    height: 50%px;
}

.obj-3 {
    margin-top: -50px
} */

@media screen and (max-width: 768px) {

    /* secao jogos-online*/

    .jogos-inner h2 {
        font-size: 20px;
    }

    .item p {
        font-size: 16px;
    }

    .item img {
        width: 40%;
        height: 40%;
    }

    .item {
        padding: 10px;
        margin: 10px;
    }
}